<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="asset/favicon.png" sizes="64x64" />
    <!-- vue.js -->
    <script src="js/vue.js"></script>

    <title>Multiplication Table</title>
  </head>

  <body>
    <section id="app" class="container-fluid">
      <!-- header -->
      <section class="header row bg-white sticky-top">
        <!-- trigger modal -->
        <div class="col d-flex">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#scopeModal"
            @click="allreset"
          >
            Stage Select
          </button>
          <span v-for="s in scope" class="badge bg-info mx-1 my-auto"
            >{{s}}</span
          >
        </div>

        <!-- point -->
        <div class="col text-center m-auto">Point:{{point}}</div>

        <!-- restart -->
        <section class="col text-end m-auto">
          <div class="btn btn-primary btn-sm" @click="allreset">ReStart</div>
        </section>
      </section>

      <!-- game area -->
      <section class="row" v-show="point!=qsearch_cards.length">
        <!-- Question card -->
        <section class="col-6 alert-info grid p-3">
          <div
            v-for="(q,index) in qsearch_cards"
            class="card border-3"
            :class="{ 'bg-info': q.qback ,back:q.qback,hidden:q.qclear}"
            @click="qflip(index)"
          >
            <span v-show="q.qback"></span>
            <span v-show="!q.qback" class="front m-auto">{{q.qize}}</span>
          </div>
          <!-- <div id="modal-overlay"></div> -->
        </section>

        <!-- Answer card -->
        <section class="col-6 alert-warning grid p-3">
          <div
            v-for="(a,index) in asearch_cards"
            class="card border-3"
            :class="{ 'bg-warning': a.aback ,back:a.aback,hidden:a.aclear}"
            @click="aflip(index)"
          >
            <span v-show="a.aback"></span>
            <span v-show="!a.aback" class="front m-auto">{{a.answer}}</span>
          </div>
        </section>
      </section>

      <!-- all clear -->
      <section
        v-show="point!=0 && point==qsearch_cards.length"
        class="text-center mt-5"
      >
        <h1 class="text-success">Congratulations!</h1>
        <div class="hidden">{{clear}}</div>
      </section>

      <!-- Modal -->
      <div
        class="modal"
        id="scopeModal"
        tabindex="-1"
        aria-labelledby="scopeModalLabel"
        aria-hidden="true"
        data-bs-backdrop="static"
      >
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <!-- select scope -->
            <div class="modal-body">
              <table class="table table-sm w-75 m-auto">
                <tr>
                  <td colspan="2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="all"
                        v-model="selectAll"
                      />
                      <label class="form-check-label d-block" for="all">
                        all
                      </label>
                    </div>
                  </td>
                </tr>
                <tr v-for="i in 4">
                  <td>
                    <div class="form-check">
                      <input
                        v-model="scope"
                        class="form-check-input"
                        type="checkbox"
                        :id="i+1"
                        :value="i+1"
                      />
                      <label class="form-check-label d-block" :for="i+1">
                        {{i+1}}
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input
                        v-model="scope"
                        class="form-check-input"
                        type="checkbox"
                        :id="i+5"
                        :value="i+5"
                      />
                      <label class="form-check-label d-block" :for="i+5">
                        {{i+5}}
                      </label>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <!-- modal footer -->
            <div class="modal-footer justify-content-center">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                @click="allreset"
              >
                Start
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- for modal -->
    <script src="js/bootstrap.bundle.js"></script>

    <!-- import card data -->
    <script src="js/card.js"></script>

    <!-- vue.js program -->
    <script>
      // sound
      const flip = new Audio("asset/flip.mp3");
      const good = new Audio("asset/good.mp3");
      const congratulations = new Audio("asset/congratulations.mp3");

      var app = new Vue({
        el: "#app",
        data: {
          //  base data
          renge: [2, 3, 4, 5, 6, 7, 8, 9],
          scope: [2],
          qselect: false,
          aselect: false,
          qindex: "",
          aindex: "",
          qnum: "",
          anum: "",
          point: 0,
          // import card
          card: card,
        },
        methods: {
          // flip Question card
          qflip(index) {
            if (this.qselect == true) {
            } else {
              flip.play();
              this.qsearch_cards[index].qback =
                !this.qsearch_cards[index].qback;
              this.qindex = index;
              this.qnum = this.qsearch_cards[index].answer;
              this.qselect = true;
              if (this.qnum != "" && this.anum != "") {
                this.check();
              }
            }
          },

          // flip Answer card
          aflip(index) {
            if (this.aselect == true) {
            } else {
              flip.play();
              this.asearch_cards[index].aback =
                !this.asearch_cards[index].aback;
              this.aindex = index;
              this.anum = this.asearch_cards[index].answer;
              this.aselect = true;
              if (this.qnum != "" && this.anum != "") {
                this.check();
              }
            }
          },

          // check Question card & Answer card
          check() {
            if (this.qnum == this.anum) {
              setTimeout(() => {
                this.point += 1;
                good.play();
              }, 700);
              setTimeout(() => {
                this.qsearch_cards[this.qindex].qclear = true;
                this.asearch_cards[this.aindex].aclear = true;
              }, 1200);
            }
            setTimeout(() => {
              this.reset();
            }, 1200);
          },

          // if check false
          reset() {
            this.qsearch_cards.forEach((element) => {
              element.qback = true;
              element.aback = true;
            });
            this.qselect = false;
            this.aselect = false;
            this.qindex = "";
            this.aindex = "";
            this.qnum = "";
            this.anum = "";
          },

          // initialize
          allreset() {
            this.qsearch_cards.forEach((element) => {
              element.qback = true;
              element.aback = true;
              element.qclear = false;
              element.aclear = false;
            });
            this.qselect = false;
            this.aselect = false;
            this.qindex = "";
            this.aindex = "";
            this.qnum = "";
            this.anum = "";
            this.point = 0;
            this.qshuffle();
            this.ashuffle();
          },

          // shuffle Question card
          qshuffle: function (qsearch_cards) {
            for (let i = this.qsearch_cards.length - 1; i > 0; i--) {
              let r = Math.floor(Math.random() * (i + 1));
              let tmp = this.qsearch_cards[i];
              this.qsearch_cards[i] = this.qsearch_cards[r];
              this.qsearch_cards[r] = tmp;
            }
            return qsearch_cards;
          },

          // shuffle Answer card
          ashuffle: function (asearch_cards) {
            for (let i = this.asearch_cards.length - 1; i > 0; i--) {
              let r = Math.floor(Math.random() * (i + 1));
              let tmp = this.asearch_cards[i];
              this.asearch_cards[i] = this.asearch_cards[r];
              this.asearch_cards[r] = tmp;
            }
            return asearch_cards;
          },

          // all clear
          congratulations() {
            const congratulations = new Audio("asset/congratulations.mp3");
            congratulations.play();
          },

          // modal setting
          modalopen() {
            var myModal = new bootstrap.Modal(
              document.getElementById("scopeModal"),
              {
                backdrop: "static",
              }
            );
            myModal.show();
          },
        },
        mounted() {
          // initial shuffle
          this.qshuffle();
          this.ashuffle();

          // initial modal open
          this.modalopen();
        },
        computed: {
          // modal all select
          selectAll: {
            get() {
              if (this.scope.length == 8) {
                return true;
              } else {
                return false;
              }
            },
            set(value) {
              if (value) {
                this.scope = [2, 3, 4, 5, 6, 7, 8, 9];
              } else {
                this.scope = [];
              }
            },
          },

          // modal select Question card
          qsearch_cards() {
            return card.filter((s) => {
              return (
                s.type.includes(this.scope[0]) ||
                s.type.includes(this.scope[1]) ||
                s.type.includes(this.scope[2]) ||
                s.type.includes(this.scope[3]) ||
                s.type.includes(this.scope[4]) ||
                s.type.includes(this.scope[5]) ||
                s.type.includes(this.scope[6]) ||
                s.type.includes(this.scope[7])
              );
            });
          },

          // modal select Answer card
          asearch_cards() {
            return card.filter((s) => {
              return (
                s.type.includes(this.scope[0]) ||
                s.type.includes(this.scope[1]) ||
                s.type.includes(this.scope[2]) ||
                s.type.includes(this.scope[3]) ||
                s.type.includes(this.scope[4]) ||
                s.type.includes(this.scope[5]) ||
                s.type.includes(this.scope[6]) ||
                s.type.includes(this.scope[7])
              );
            });
          },

          // all clear
          clear() {
            if (this.point != 0 && this.point == this.qsearch_cards.length) {
              return congratulations.play();
            }
          },
        },
      });
    </script>

    <style>
      /* card placement */
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 0.5rem;
      }

      /* card size */
      .card {
        height: 3rem;
        text-align: center;
        cursor: pointer;
        transform: rotateY(0deg);
        transition: transform 0.3s;
      }

      /* card back */
      .back {
        background-size: 60px 55px;
        background-image: radial-gradient(
            transparent 10px,
            #ffffff 20px,
            #ffffff 12px,
            transparent 12px
          ),
          radial-gradient(
            transparent 10px,
            #ffffff 24px,
            #ffffff 12px,
            transparent 24px
          );
        background-position: 0 0, 16px 16px;
        transform: rotateY(180deg);
        transition: transform 0.3s;
      }

      /* clear card hidden */
      .hidden {
        visibility: hidden;
      }
    </style>
  </body>
</html>
