<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="asset/favicon.png" sizes="64x64" />
    <script src="js/vue.js"></script>
    <title>Multiplication Table</title>
  </head>

  <body>
    <section id="app" class="container-fluid">
      <!-- header -->
      <section class="header row">
        <!-- Button trigger modal -->
        <div class="col d-flex">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#scopeModal"
            @click="allreset"
          >
            Stage Select
          </button>
          <span v-for="s in scope" class="badge bg-secondary mx-1 my-auto"
            >{{s}}</span
          >
        </div>

        <div class="col text-center m-auto">Point:{{point}}</div>
        <section class="col text-end m-auto">
          <div class="btn btn-primary btn-sm" @click="allreset">ReStart</div>
        </section>
      </section>

      <!-- ゲームエリア -->
      <section class="row" v-show="point!=search_cards.length">
        <!-- 問題カード -->
        <section class="col-6 alert-info grid p-3">
          <div
            v-for="(q,index) in search_cards"
            class="card"
            :class="{ 'bg-info': q.qback ,back:q.qback,hidden:q.qclear}"
            @click="qflip(index)"
          >
            <span v-show="q.qback"></span>
            <span v-show="!q.qback" class="front m-auto">{{q.qize}}</span>
          </div>
          <!-- <div id="modal-overlay"></div> -->
        </section>

        <!-- 正解カード -->
        <section class="col-6 alert-warning grid p-3">
          <div
            v-for="(a,index) in search_cards2"
            class="card"
            :class="{ 'bg-warning': a.aback ,back:a.aback,hidden:a.aclear}"
            @click="aflip(index)"
          >
            <span v-show="a.aback"></span>
            <span v-show="!a.aback" class="front m-auto">{{a.answer}}</span>
          </div>
        </section>
      </section>
      <section v-show="point==search_cards.length" class="text-center mt-5">
        <h1 class="text-success">Congratulations!</h1>
        <div class="hidden">{{clear}}</div>
      </section>
      <!-- Modal -->
      <div
        class="modal"
        id="scopeModal"
        tabindex="-1"
        aria-labelledby="scopeModalLabel"
        aria-hidden="true"
        data-bs-backdrop="static"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- <div class="modal-header">
              <h5 class="modal-title" id="scopeModalLabel">title:{{scope}}</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div> -->

            <!-- 範囲選択 -->
            <div class="modal-body">
              <table class="table w-50 m-auto">
                <tr>
                  <td colspan="2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="all"
                        v-model="selectAll"
                      />
                      <label class="form-check-label" for="all"> all </label>
                    </div>
                  </td>
                </tr>
                <tr v-for="i in 4">
                  <td>
                    <div class="form-check">
                      <input
                        v-model="scope"
                        class="form-check-input"
                        type="checkbox"
                        :id="i"
                        :value="i+1"
                      />
                      <label class="form-check-label" :for="i"> {{i+1}} </label>
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input
                        v-model="scope"
                        class="form-check-input"
                        type="checkbox"
                        :id="i"
                        :value="i+5"
                      />
                      <label class="form-check-label" :for="i"> {{i+5}} </label>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="modal-footer justify-content-center">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                @click="allreset"
              >
                Start
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/card.js"></script>
    <script>
      const flip = new Audio("asset/flip.mp3");
      const good = new Audio("asset/good.mp3");
      const congratulations = new Audio("asset/congratulations.mp3");
      var app = new Vue({
        el: "#app",
        data: {
          //  基礎データ
          renge: [2, 3, 4, 5, 6, 7, 8, 9],
          scope: [2],
          qselect: false,
          aselect: false,
          qindex: "",
          aindex: "",
          qnum: "",
          anum: "",
          point: 0,
          // カード
          card: card,
        },
        methods: {
          qflip(index) {
            if (this.qselect == true) {
            } else {
              flip.play();
              this.search_cards[index].qback = !this.search_cards[index].qback;
              this.qindex = index;
              this.qnum = this.search_cards[index].answer;
              this.qselect = true;
              if (this.qnum != "" && this.anum != "") {
                this.check();
              }
            }
          },
          aflip(index) {
            if (this.aselect == true) {
            } else {
              flip.play();
              this.search_cards2[index].aback =
                !this.search_cards2[index].aback;
              this.aindex = index;
              this.anum = this.search_cards2[index].answer;
              this.aselect = true;
              if (this.qnum != "" && this.anum != "") {
                this.check();
              }
            }
          },
          check() {
            if (this.qnum == this.anum) {
              setTimeout(() => {
                this.point += 1;
                good.play();
              }, 700);
              setTimeout(() => {
                this.search_cards[this.qindex].qclear = true;
                this.search_cards2[this.aindex].aclear = true;
              }, 1200);
            }
            setTimeout(() => {
              this.reset();
            }, 1200);
          },
          reset() {
            this.search_cards.forEach((element) => {
              element.qback = true;
              element.aback = true;
            });
            this.qselect = false;
            this.aselect = false;
            this.qindex = "";
            this.aindex = "";
            this.qnum = "";
            this.anum = "";
          },
          allreset() {
            this.search_cards.forEach((element) => {
              element.qback = true;
              element.aback = true;
              element.qclear = false;
              element.aclear = false;
            });
            this.qselect = false;
            this.aselect = false;
            this.qindex = "";
            this.aindex = "";
            this.qnum = "";
            this.anum = "";
            this.point = 0;
            this.shuffle();
            this.shuffle2();
          },
          //  ランダム化
          shuffle: function (search_cards) {
            for (let i = this.search_cards.length - 1; i > 0; i--) {
              let r = Math.floor(Math.random() * (i + 1));
              let tmp = this.search_cards[i];
              this.search_cards[i] = this.search_cards[r];
              this.search_cards[r] = tmp;
            }
            return search_cards;
          },
          shuffle2: function (search_cards2) {
            for (let i = this.search_cards2.length - 1; i > 0; i--) {
              let r = Math.floor(Math.random() * (i + 1));
              let tmp = this.search_cards2[i];
              this.search_cards2[i] = this.search_cards2[r];
              this.search_cards2[r] = tmp;
            }
            return search_cards2;
          },
          congratulations() {
            const congratulations = new Audio("asset/congratulations.mp3");
            congratulations.play();
          },
        },
        mounted() {
          this.shuffle();
          this.shuffle2();
        },
        computed: {
          // モーダル全選択
          selectAll: {
            get() {
              if (this.scope.length == 8) {
                return true;
              } else {
                return false;
              }
            },
            set(value) {
              if (value) {
                this.scope = [2, 3, 4, 5, 6, 7, 8, 9];
              } else {
                this.scope = [];
              }
            },
          },
          search_cards() {
            return card.filter((s) => {
              return (
                s.type.includes(this.scope[0]) ||
                s.type.includes(this.scope[1]) ||
                s.type.includes(this.scope[2]) ||
                s.type.includes(this.scope[3]) ||
                s.type.includes(this.scope[4]) ||
                s.type.includes(this.scope[5]) ||
                s.type.includes(this.scope[6]) ||
                s.type.includes(this.scope[7])
              );
            });
          },
          search_cards2() {
            return card.filter((s) => {
              return (
                s.type.includes(this.scope[0]) ||
                s.type.includes(this.scope[1]) ||
                s.type.includes(this.scope[2]) ||
                s.type.includes(this.scope[3]) ||
                s.type.includes(this.scope[4]) ||
                s.type.includes(this.scope[5]) ||
                s.type.includes(this.scope[6]) ||
                s.type.includes(this.scope[7])
              );
            });
          },
          clear() {
            if (this.point == this.search_cards.length) {
              return congratulations.play();
            }
          },
        },
      });
    </script>

    <style>
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 0.5rem;
      }

      .card {
        height: 4rem;
        text-align: center;
        /* padding: 0; */
        cursor: pointer;
        transform: rotateY(0deg);
        transition: transform 0.3s;
      }

      .back {
        background-size: 60px 55px;
        background-image: radial-gradient(
            transparent 10px,
            #ffffff 20px,
            #ffffff 12px,
            transparent 12px
          ),
          radial-gradient(
            transparent 10px,
            #ffffff 24px,
            #ffffff 12px,
            transparent 24px
          );
        background-position: 0 0, 16px 16px;
        transform: rotateY(180deg);
        transition: transform 0.3s;
      }

      .hidden {
        visibility: hidden;
      }

      /* #modal-overlay {
        z-index: 1;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 120%;
        position: fixed;
        top: 0;
        left: 0;
      } */
    </style>
  </body>
</html>
